*{
    margin:0px;
    padding: 0px;
    background-color:#DCDCDC;
}
.header{
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
.list{
    padding-left: 50px;
    padding-right: 50px;
}
.listItem{
    list-style-type: none;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 2px solid white;
}
.listItem>h3{
    padding-bottom: 15px;
    padding-top:10px;
    text-align: center;
}
.listItem>p{
    padding-top:10px;
}
.button{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.button>button{
    height: 45px;
    width: 130px;
    background-color: grey;
    color: white;
    font-size: 18px;
    border: 3px solid #C0C0C0;
}
.search{
    text-align: right;
    padding-right: 50px;
}
.search>input{
    text-align: center;
    border: 0;
    outline: 0;
    width: 200px;
    font-size: 18px;
    height: 30px;
    color:grey;
    border-bottom: 2px solid grey;
}
.search>input:focus{
    border-bottom: 2px solid white;
}
.search>input::placeholder {
    color: white;
}
.noItemFound{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.loder{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 200px;
}
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
